{% extends 'base.html.twig' %}

{% block title %}Sueño dorado{% endblock %}

{% block body %}



<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">SUEÑO DORADO</a>
    <a class="btn btn-primary" href="{{ path('register') }}">Registrarse</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="post">
              {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              {% if app.user %}
                  <div class="mb-3">
                      You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                  </div>
              {% endif %}

              <h1 class="h3 mb-3 font-weight-normal">Inicie sesion</h1>
              <label for="inputEmail">Correo</label>
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" required autofocus>
              <label for="inputPassword">Contraseña</label>
              <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" required>

              <input type="hidden" name="_csrf_token"
                     value="{{ csrf_token('authenticate') }}"
              >
              <br>
              {#
                  Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                  See https://symfony.com/doc/current/security/remember_me.html
              #}
                  <div class="checkbox mb-3">
                      <label>
                          <input type="checkbox" name="_remember_me"> Recuerdame
                      </label>
                  </div>


              <button class="btn btn-block btn-lg btn-primary" type="submit">
                  Iniciar sesion
              </button>
          </form>
      </div>
    </div>
    <br>

  </div>
</header>


<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">Acerca de</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contacto</a>
         </li>
        </ul>
        <!-- <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p> -->
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
