{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<br>
<div class="overlay"></div>
<div class="container">
<div class="row">
  <div class="col-md-12 col-lg-8 col-xl-7 mx-auto">
      {{ form_start(form) }}
      {{ form_row(form.email) }}
      {{ form_row(form.nombre) }}
      {{ form_row(form.telmovil) }}

      {{ form_row(form.edad) }}
      {{ form_row(form.pais) }}
      {{ form_row(form.ciudad) }}
      {{ form_row(form.plainPassword.first) }}
      {{ form_row(form.plainPassword.second) }}
      <br>
      <button class="btn btn-success" type="submit">Registrarse</button>
      {{ form_end(form) }}
  </div>
</div>
<br>

</div>

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
