<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sueño dorado
			{% endblock %}
		</title>
		{% block stylesheets %}
			<meta name="viewport" content="initial-scale=1, width=device-width">
			<link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
			<link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
			<link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
			<link href="{{ asset('css/main.css') }}" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/r-2.2.3/rg-1.1.1/sc-2.0.1/sp-1.0.1/datatables.min.css"/>
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
		{% endblock %}
	</head>
	<body>
		<div id="mySidenav" class="sidenav">
			<div id="content">
				<div class="container-fluid">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<h1 style="color:white">
						<i class="fas fa-user-circle fa-fw"></i>
						{% if app.user.nombres is defined %}
							{{ app.user.nombres }}
						{% else %}
								<script>
									window.locationf="{{ path('dasboard_user') }}";
								</script>
						{% endif %}	
					</h1>
					<br>
					<a class="badge badge-pill badge-dark" href="{{ path('dasboard_user') }}">
						<span>
							<h3>
								<i class="fas fa-child"></i>
								Perfil</h3>
						</span>
					</a>
					<br>
					{% if moneda is defined %}
						<a class="badge badge-pill badge-dark" href="{{ path('posiciones_user',{'id': moneda.id}) }}">
							<span>
								<h3>
									<i class="fas fa-code-branch"></i>
									Estructura</h3>
							</span>
						</a>
						<br>
					{% endif %}
					<a class="badge badge-pill badge-dark" href="{{ path('soporte_user') }}">
						<span>
							<h3>
								<i class="fas fa-envelope-square"></i>
								Soporte</h3>
						</span>
					</a>
					<br>
					<a class="badge badge-pill badge-dark" href="{{ path('eventos_user') }}">
						<span>
							<h3>
								<i class="fas fa-calendar-week"></i>
								Eventos</h3>
						</span>
					</a>
					<br>
					<a class="badge badge-pill badge-dark" href="{{ path('proyecto') }}">
						<span>
							<h3>
								<i class="fas fa-question"></i>
								Quienes somos</h3>
						</span>
					</a>
					<br>
					<a class="badge badge-pill badge-dark" href="{{ path('edit_user',{'id': app.user.id}) }}">
						<span>
							<h3>
								<i class="fas fa-wrench"></i>
								Configuracion de perfil</h3>
						</span>
					</a>
					<br>
					<a class="badge badge-pill badge-danger" href="#" data-toggle="modal" data-target="#logoutModal">
						<span>
							<h3>
								<i class="fas fa-sign-out-alt"></i>
								Cerrar sesion</h3>
						</span>
					</a>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="navbarTop">
			<img href="{{ path('dasboard_user') }}" src="{{ asset('assets/suenodoradopng.png') }}" class="logo img-fluid pull-xs-left" alt="..." width="15%">

			<div id="botonBarra">
				<button onclick="openNav()" class="navbar-toggler" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('dasboard_user') }}">
							<i class="fas fa-child"></i>
							<span>Perfil</span>
						</a>
					</li>
					{% if moneda is defined %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('posiciones_user',{'id': moneda.id}) }}">
								<i class="fas fa-code-branch"></i>
								<span>Estructura</span>
							</a>
						</li>
					{% endif %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('soporte_user') }}">
							<i class="fas fa-envelope-square"></i>
							<span>Soporte</span>
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('eventos_user') }}">
							<i class="fas fa-calendar-week"></i>
							<span>Eventos</span>
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('proyecto') }}">
							<i class="fas fa-question"></i>
							<span>Quienes somos</span>
						</a>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user-circle fa-fw"></i>
							{{ app.user.nombres }}
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path('edit_user',{'id': app.user.id}) }}">Configuracion de perfil</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Cerrar sesion</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<br>
		<div id="content"> {% block body %}{% endblock %}
			</div>

			<a class="scroll-to-top rounded" href="#navbarTop">
				<i class="fas fa-angle-up"></i>
			</a>

			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content ">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea cerrar sesion?</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
							<a class="btn btn-primary" href="{{ path('app_logout') }}">Cerrar sesion</a>
						</div>
					</div>
				</div>
			</div>

			{% block modal %}{% endblock %}
			{% block javascripts %}
				<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
				<script src="{{ asset('node_modules/cytoscape/dist/cytoscape.min.js') }}"></script>
				<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
				<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
				<script src="{{ asset('js/sb-admin.min.js') }}"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
				<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/r-2.2.3/rg-1.1.1/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
			
				<script>
					function openNav() {
					document.getElementById("mySidenav").style.width = "100%";
					document.getElementById("botonBarra").innerHTML = "<button onclick='closeNav()' id='botonBarra' class='navbar-toggler' type='button'><span class='navbar-toggler-icon'></span></button>";
					}
					function closeNav() {
					document.getElementById("mySidenav").style.width = "0";
					document.getElementById("botonBarra").innerHTML = "<button onclick='openNav()' id='botonBarra' class='navbar-toggler' type='button'><span class='navbar-toggler-icon'></span></button>";
					}

					if (screen.width >= 450) {
					document.getElementById("contentBody").className = "container";
					} else {
					document.getElementById("contentBody").className = "container-fluid";
					}
				</script>
			{% endblock %}
		</body>
	</html>
