{% extends 'layouts/user.html.twig' %}

{% block title %}Soporte
{% endblock %}

{% block body %}

<style>
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { padding: 18px 16px 10px; height: 800px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg {
  padding: 5px 5px 5px 5px;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 700px;
  overflow-y: auto;
}

.dataTables_filter {
   float: left !important;
}

</style>

<div class="container"  id="contentBody">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="inbox_chat">
            <table class="table" id="mensajes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="5%"><i class="fas fa-bell"></i></th>
                        <th>Mensajes</th>
                    </tr>
                </thead>
                
                <tbody>
                   
                </tbody>
            </table>
          </div>
        </div>

       <div class="mesgs">
          <div id="mesgs" class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="{{ asset('assets/user-profile.png') }}" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Cuéntanos tu duda y en breve te la resolveremos</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id="mensaje" class="write_msg" placeholder="Type a message" />
              <button id="enviar" class="msg_send_btn"  type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var socket = new WebSocket("ws://127.0.0.1:8080");

socket.onopen = function () {
    console.log('Connection successful');
    var userId = "{{ app.user.id }}";
    var rol = "{{ app.user.roles[0] }}";
    let dataSend = {mensaje: "", de: userId, para: "", rol:rol};
    socket.send(JSON.stringify(dataSend));
};


window.onload = function() {
      localStorage.removeItem('chatCon');
      usersList();
};

const boton = document.querySelector("#enviar");

boton.addEventListener("click", function(evento){
  var chatCon = localStorage.getItem("chatCon");
  if (chatCon) {
    send();
  } else {
    soporteNew()
  }
	
});


 $("input").keydown(function (e){
   var keyCode= e.which;
   if (keyCode == 13){
     event.preventDefault();
       var chatCon = localStorage.getItem("chatCon");
        
        if (chatCon) {
          send();
        } else {
          soporteNew()
        }
   }
 });

function soporteNew()
{
    var userId = "{{ app.user.id }}";
    var mensaje = document.getElementById("mensaje").value;
    let dataSend = {mensaje: mensaje, de: userId };

    var uri  = '{{ path('list_mensaje_new_soporte') }}'
    if(mensaje.length > 0)
    {
      console.log
       $.ajax({
        url : uri,
        data : dataSend,
        method : 'post', 
        success : function(response){
            var data = JSON.parse(response);
            
            let de =  ` <div  class='outgoing_msg'>
                                 <div class='sent_msg'>
                                    <p>${data['mensaje']}</p>
                                    <span class='time_date'> ${data['fecha']} </span>
                                 </div>
                             </div> `;
            $(de).appendTo('#mesgs');
            $("#mesgs").animate({ scrollTop: $('#mesgs').prop("scrollHeight")}, 1000);

            var inputNombre = document.getElementById("mensaje");
            inputNombre.value = "";

            dataSend = {mensaje: mensaje, de: userId, para: "", fecha: data['fecha'], rol: ""};

            socket.send(JSON.stringify(dataSend));
        
        },
        error: function(error){
            alert("No funciona");
        }
      });
    }    
   
}

function usersList() {

  fetch('{{ path('list_mensaje_user') }}',{ method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
       
        var table = $('#mensajes').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging":   false,
            "info":     false,
            "language": {
                 "decimal": "",
                 "emptyTable": "No hay información",
                 "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                 "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                 "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Mostrar _MENU_ Entradas",
                 "loadingRecords": "Cargando...",
                 "processing": "Procesando...",
                 "search": "Buscar:",
                 "zeroRecords": "Sin resultados encontrados",
                 "paginate": {
                     "first": "Primero",
                     "last": "Ultimo",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 }
            },
            "responsive": true,
            "order": [[ 0, 'desc' ]],
            "destroy": true,
        });
     table.clear();
    
     for (var i = 0; i < myJson.length; i++) {
     
        var perfil =  `<div onclick='cambiarChat(${myJson[i].idUser})' class='chat_list'>
                            <div class='chat_people'>
                                <div class="chat_ib">
                                <h5> ${myJson[i].nombres} <span class='chat_date'>${myJson[i].fecha}</span></h5>
                                </div>
                            </div>
                        </div>`;
        table.row.add([
            myJson[i].mensajes,
            perfil,
        ]);
     }
     
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_evento',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function cambiarChat(id)
{
    let idUser = {{ app.user.id }};
    let data = {de: idUser, para: id };

    var uri  = '{{ path('list_chat') }}'
    $.ajax({
        url : uri,
        data : data,
        method : 'post', 
        success : function(response){
            visto(id);
            document.getElementById("mesgs").innerHTML = "";
            var data = JSON.parse(response);
            
            
              for(i = 0; i < data.length; i++) {

              let para =  ` <div class="incoming_msg">
                              <div class="incoming_msg_img"> <img src="{{ asset('assets/user-profile.png') }}" alt="sunil"> </div>
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>${data[i].mensaje}</p>
                                  <span class="time_date">${data[i].fecha}</span></div>
                              </div>
                            </div>`;

              let de =  ` <div  class='outgoing_msg'>
                                 <div class='sent_msg'>
                                    <p>${data[i].mensaje}</p>
                                    <span class='time_date'> ${data[i].fecha} </span>
                                 </div>
                             </div> `;

              if(data[i].deOrPara) {
                var content = de;
              } else {
                 var content = para;
              }
              
            $(content).appendTo('#mesgs');   
            }
            localStorage.setItem("chatCon", id);
            
            $("#mesgs").animate({ scrollTop: $('#mesgs').prop("scrollHeight")}, 1000);
            
            
        },
        error: function(error){
            alert("No funciona");
        }
    });
}

function visto(chatCon)
{
  var uri  = '{{ path('list_mensaje_visto') }}'
  let dataSend = {con: chatCon};
   $.ajax({
        url : uri,
        data : dataSend,
        method : 'post', 
        success : function(response){
            //var data = JSON.parse(response);
            
            usersList();
         
        },
        error: function(error){
            alert("No funciona");
        }
    });
}

function send()
{
    var userId = "{{ app.user.id }}";
    var mensaje=document.getElementById("mensaje").value;
    var para = localStorage.getItem("chatCon");
    let dataSend = {mensaje: mensaje, de: userId, para: para};

    var uri  = '{{ path('list_mensaje_new') }}'
    
    $.ajax({
        url : uri,
        data : dataSend,
        method : 'post', 
        success : function(response){
            var data = JSON.parse(response);
            
            let de =  ` <div  class='outgoing_msg'>
                                 <div class='sent_msg'>
                                    <p>${data['mensaje']}</p>
                                    <span class='time_date'> ${data['fecha']} </span>
                                 </div>
                             </div> `;
            $(de).appendTo('#mesgs');
            $("#mesgs").animate({ scrollTop: $('#mesgs').prop("scrollHeight")}, 1000);

            dataSend = {mensaje: mensaje, de: userId, para: para, fecha: data['fecha'], rol: ""};

            socket.send(JSON.stringify(dataSend));
            visto(para);

            var inputNombre = document.getElementById("mensaje");
            inputNombre.value = "";
        
        },
        error: function(error){
            alert("No funciona");
        }
    });
}

socket.onclose = function (event) {
    if (event.wasClean) {
        console.log('Connection closed.');
    } else {
        console.log('Connection killed:(');
    }
    console.log(event.code + event.reason);
};

socket.onmessage = function (event) {
    
    var data;
    if(event.data)
    {
        data = JSON.parse(event.data);
    }

    var con = localStorage.getItem("chatCon");
    
    if(con && data.de == con)
    {
         
        let para =  ` <div class="incoming_msg">
                                 <div class="incoming_msg_img"> <img src="{{ asset('assets/user-profile.png') }}" alt="sunil"> </div>
                                  <div class="received_msg">
                                    <div class="received_withd_msg">
                                      <p>${data.mensaje}</p>
                                      <span class="time_date">${data.fecha}</span></div>
                                  </div>
                                </div>`;
        $(para).appendTo('#mesgs');
        $("#mesgs").animate({ scrollTop: $('#mesgs').prop("scrollHeight")}, 1000);
       
    }

    if(!con && data.mensaje && data.de){
      cambiarChat(data.de);
    }
     usersList();

};

socket.onerror = function (error) {
    console.log(error.message);
};



</script>

{% endblock %}

