{% extends 'layouts/admin.html.twig' %}

{% block title %}Editar perfil{% endblock %}

{% block body %}
<div class="container-fluid">
  
    <div class="card mb-3">
        <div class="card-header">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.nombre) }}
                {{ form_row(form.telmovil) }}
                {{ form_row(form.pais) }}
                {{ form_row(form.ciudad) }}
                {{ form_row(form.monedasBitcoin) }}
                {{ form_row(form.monedasMarketcoin) }}
                {{ form_row(form.vecesRecividas) }}
                <br>
                {% if user.roles[0] == "ROLE_ADMIN" %}
                    <label><input type="checkbox" name="user_edit[user_rol]" id="user_edit_rol" value="true" checked>Administrador</label>
                {% else %}
                    <label><input type="checkbox" name="user_edit[user_rol]" id="user_edit_rol" value="true">Administrador</label>
                {% endif %}
                <br>
                <br>
                <button class="btn btn-success" type="submit">Guardar</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
var search = $('#user_edit_referido').select2({
    maximumSelectionLength: 2
});
console.log(search);
});

</script>
{% endblock %}
