{% extends 'layouts/admin.html.twig' %}

{% block title %}Configuracion{% endblock %}

{% block body %}
<div class="container-fluid" id="contentBody">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Editar contraseña</h3>
        </div>
          <div class="card-body">
              {{ form_start(form) }}
                  {{ form_row(form.plainPassword.first) }}
                  <br>
                  {{ form_row(form.plainPassword.second) }}
                  <br>
                  <button class="btn btn-success" type="submit">Guardar</button>
              {{ form_end(form) }}
          </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
