{% extends 'layouts/admin.html.twig' %}

{% block title %}Monedas{% endblock %}

{% block body %}
<div class="container-fluid">
    <a class="btn btn-success" href="{{path('new_moneda',{'id': user.id} )}}">Añadir moneda</a>
    <br>
    <br>
  
  <div class="card mb-3">
      <ul class="list-group">
        {% for moneda in monedas %}
            <li class="list-group-item"><a class="btn btn-default" href="{{ path('user_list_posicion',{'id': moneda.id} )}}">moneda
            {% if moneda.rango == 0 %}
                <i class="fab fa-bitcoin"></i> oro a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 1 %}
                <i class="fab fa-bitcoin"></i> Ruby a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 2 %}
                <i class="fab fa-bitcoin"></i> Esmeralda a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 3 %}
                <i class="fab fa-bitcoin"></i> Diamante a recibido {{ moneda.vecesRecibidas }} veces
            {% endif %}
            </a>
            </li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el usuario?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="BotonBorrar" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="">Borrar</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

$(document).ready(function() {
        usersList();
        console.log("Docuemnto listo");
    });


function modalBorrar(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function deleteUser(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    fetch(uri, {
            method: 'POST',
        })
    .then(response => {
        console.log(response);
    })
    .catch((error) => console.log(error));

}

</script>

{% endblock %}
