{% extends 'layouts/admin.html.twig' %}

{% block title %}Monedas{% endblock %}

{% block body %}
<div class="container-fluid">
    <a class="btn btn-success" href="{{path('new_moneda',{'id': user.id} )}}">Añadir moneda</a>
    <br>
    <br>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Posicion</th>
        <th width="20%" scope="col">Estructura</th>
        <th scope="col">Veces recibidas</th>
        <th scope="col">Oros completos</th>
      </tr>
    </thead>
    <tbody>
    {% for moneda in monedas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
            <a class="btn btn-default" href="{{ path('user_list_posicion',{'id': moneda.id} )}}">
                {% if moneda.rango == 0 %}
                    {% if moneda.dono == true %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Dorado2.png') }}" class="img-fluid monedacontent">
                    {% else %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Dorado1.png') }}" class="img-fluid monedacontent">
                    {% endif %}
                    <br>
                        oro
                    {% elseif moneda.rango == 1 %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Ruby.png') }}" class="img-fluid monedacontent">
                     <br>
                        Ruby
                    {% elseif moneda.rango == 2 %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Esmeralda.png') }}" class="img-fluid monedacontent">
                     <br>
                        Esmeralda
                    {% elseif moneda.rango == 3 %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Diamante.png') }}" class="img-fluid monedacontent">
                     <br>
                        Diamante
                    {% elseif moneda.rango == 4 %}
                     <img  href="{{ path('user_list_posicion',{'id': moneda.id} )}}" src="{{ asset('img/monedas/DiamanteDeApoyo.png') }}" class="img-fluid monedacontent">
                     <br>
                        Diamante de apoyo
                    {% endif %}
          </a>
      </td>
      <td>{{moneda.vecesRecibidas}}</td>
      <td>0</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el usuario?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="BotonBorrar" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="">Borrar</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

$(document).ready(function() {
        usersList();
        console.log("Docuemnto listo");
    });

function modalBorrar(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function deleteUser(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    fetch(uri, {
            method: 'POST',
        })
    .then(response => {
        console.log(response);
    })
    .catch((error) => console.log(error));

}
</script>

{% endblock %}
