{% extends 'layouts/user.html.twig' %}

{% block title %}Mis monedas{% endblock %}

{% block body %}
<div class="container-fluid">
<div id="añadirOro" class=""></div>
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>Monedas</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="Monedas" width="100%" cellspacing="0">
          <thead>
            <tr>
            <th width="3%">Orden</th>
            <th>Dueño</th>
            <th>invito a</th>
            <th>Rango</th>
            <th width="3%">Dono</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el usuario?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="BotonBorrar" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="">Borrar</a>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarOro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Añadir oro a rubi</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="modalAñadirOros" class="modal-body">
        </div>
          <div id="agregarOroBoton" class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var arbol = new Array();
$(document).ready(function() {
        usersList();
    });
function usersList() {
    var misCabeceras = new Headers();
    var miInit = { method: 'POST',
           headers: misCabeceras,
           mode: 'cors',
           cache: 'default' };
  fetch('{{ path('list_monedas',{'id': moneda.id} )}}',miInit)
    .then(response => response.json())
    .then(myJson => {
        if ({{ moneda.rango }} == 1) {
            for (var o = 0; o < myJson.length; o++) {
                if (myJson[o][0]['Padre'].id == {{ moneda.id }}) {
                    if (myJson[o].length <= 2) {
                        var content = `<h3>Link para invitar {{ url('invitar_moneda',{'idRuby': moneda.id} )}}</h3>`;
                        document.getElementById("añadirOro").innerHTML = content;
                    }
                }
            }
        }
        var table = $('#Monedas').DataTable({
            "language": {
                 "decimal": "",
                 "emptyTable": "No hay información",
                 "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                 "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                 "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Mostrar _MENU_ Entradas",
                 "loadingRecords": "Cargando...",
                 "processing": "Procesando...",
                 "search": "Buscar:",
                 "zeroRecords": "Sin resultados encontrados",
                 "paginate": {
                     "first": "Primero",
                     "last": "Ultimo",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 }
            },
            "responsive": true,
            "order": [[ 0, 'desc' ]],
            "pageLength": 15,
             "destroy": true,
         rowCallback:function(row,data)
         {
           switch (data[3]) {
               case "Diamante":
                    $($(row).find("td")[3]).css("background-color","#6CAFFB");
                   break;
               case "Esmeralda":
                    $($(row).find("td")[3]).css("background-color","#6EED91");
                   break;
               case "Rubi":
                    $($(row).find("td")[3]).css("background-color","#F36F6F");
                   break;
               case "Oro":
                    $($(row).find("td")[3]).css("background-color","#D4B678");
                   break;
           }
         }
        });
     table.clear();
     // console.log(myJson);
     for (var i = 0; i < myJson.length; i++) {
         if (myJson[i].length > 1) {
             if (myJson[i].length == 2) {
                 var invto = "" + myJson[i][1].dueño.nombres;
             } else if (myJson[i].length == 3) {
                 var invto = "" + myJson[i][1].dueño.nombres + " y " + myJson[i][2].dueño.nombres;
             }
         }else {
             invto = "";
         }
         var rango = "";
         var estado = "";
         switch (myJson[i][0]['Padre'].rango) {
            case 0:
                rango = "Oro";
                var estado = "No";
                break;
            case 1:
            var x = "modalAñadir("+myJson[i][0]['Padre'].id+")";
                if ({{ moneda.rango }} == 3) {
                    if ( myJson[i].length < 3) {
                        var boton = `<button type='button' style='width:100%; height:100% id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Rubi</span></button>`;
                    }
                    else {
                        boton = "Rubi";
                    }
                }else if ({{ moneda.rango }} == 2) {
                    for (var o = 0; o < myJson.length; o++) {
                        if (myJson[o][0]['Padre'].id == {{ moneda.id }}) {
                            if (myJson[i][0]['Padre'].id == myJson[o][1].id || myJson[i][0]['Padre'].id == myJson[o][2].id) {
                                console.log(myJson[i]);
                                if ( myJson[i].length < 3) {
                                    var boton = `<button type='button' style='width:100%; height:100% id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Rubi</span></button>`;
                                }
                                else {
                                    boton = "Rubi";
                                }
                            }else {
                                boton = "Rubi";
                            }
                        }
                    }
                }else if ({{ moneda.rango }} == 1 || {{ moneda.rango }} == 0) {
                    boton = "Rubi";
                }else if ({{ moneda.rango }} == 4) {
                    if ( myJson[i].length < 3) {
                        var boton = `<button type='button' style='width:100%; height:100% id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Rubi</span></button>`;
                    }
                    else {
                        boton = "Rubi";
                    }
                }
                rango = boton;
                estado = "Si"
                break;
            case 2:
                rango = "Esmeralda";
                estado = "Si"
                break;
            case 3:
                rango = "Diamante";
                estado = "Si"
                break;
         }
         table.row.add([
             myJson[i][0]['Padre'].rango,
             myJson[i][0]['Padre'].dueño.nombres,
             invto,
             rango,
             estado
         ]);
         arbol.push(myJson[i][0]['Padre']);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
    var search = $('#añadir_oro').select2({
        maximumSelectionLength: 2
    });
}

function modalAñadir(id)
{
    $('#agregarOro').modal('show');
    var content = `<h3>Link para invitar {{ url('invitar_moneda',{'idRuby': 'id'} )}}</h3>`;
    content = content.replace('id', id);
    document.getElementById("modalAñadirOros").innerHTML = content;

}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}
</script>

{% endblock %}
