{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <img  href="{{path('dasboard_user')}}" src="{{ asset('assets/suenodoradopng.png') }}" class="img-fluid pull-xs-left" alt="..." width="20%">

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{app.user.nombre}} <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">Configuracion de perfil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Cerrar sesion</a>
      </div>
    </li>
  </ul>

</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item ">
      <a class="nav-link" href="{{path('dasboard')}}">
        <i class="fas fa-child"></i>
        <span>Perfiles</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('posiciones_admin')}}">
        <i class="fas fa-code-branch"></i>
        <span>Extructura</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-envelope-square"></i>
        <span>Mensajes</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{path('eventos_admin')}}">
        <i class="fas fa-calendar-week"></i>
        <span>Eventos</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('proyecto')}}">
        <i class="fas fa-question"></i>
        <span>Quienes somos</span></a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Eventos</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="Eventos" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Descipción</th>
                  <th>Inicia a las</th>
                  <th>Finaliza a las</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <a class='btn btn-success' href='{{path('new_evento')}}'>Crear evento</a>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea cerrar sesion?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{{path('app_logout')}}">Cerrar sesion</a>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el evento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="BotonBorrar" class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="">Borrar</a>
      </div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

$(document).ready(function() {
        usersList();
        console.log("Docuemnto listo");
    });

function usersList() {

    var misCabeceras = new Headers();
    var miInit = { method: 'POST',
           headers: misCabeceras,
           mode: 'cors',
           cache: 'default' };
  fetch('{{ path('list_evento_admin') }}',miInit)
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Eventos').DataTable({
         "order": [[ 1, 'desc' ]],
         "destroy": true,
        });
     table.clear();
    var options = { year: 'numeric', month: 'long', day: 'numeric' };
    for (var i = 0; i < myJson.length; i++) {
        var id = myJson[i].id
        var x = "modalBorrar("+id+")";
        var uri = "{{ path('edit_evento',{'id': 'id'} )}}";
        uri = uri.replace('id', id);
        var boton = `<a class='btn btn-success' href='${uri}'>Editar</a> &nbsp; &nbsp; </span><button type='button' id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Borrar</span></button>`;
        table.row.add([
            myJson[i].nombre,
            myJson[i].fecha,
            myJson[i].descripcion,
            myJson[i].duracionInicio,
            myJson[i].duracionFin,
            boton,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_evento',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function deleteUser(id)
{
    var uri  = "{{ path('delete_evento',{'id': 'id'} )}}"
    uri = uri.replace('id', id);
    fetch(uri, {
            method: 'POST',
        })
    .then(response => {
        console.log(response);
    })
    .catch((error) => console.log(error));

}

</script>

{% endblock %}
