{% extends 'layouts/admin.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block body %}
<div class="container-fluid">
    {{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.duracionInicio) }}
    {{ form_row(form.duracionFin) }}
    <br>
    <button class="btn btn-success" type="submit">Crear el evento</button>
    {{ form_end(form) }}
</div>
{% endblock %}
