{% extends 'layouts/user.html.twig' %}

{% block title %}Configuracion{% endblock %}

{% block body %}
<div class="container-fluid">
  
    <div class="col-md-12 col-lg-8 col-xl-7 mx-auto">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.telmovil) }}
            {{ form_row(form.pais) }}
            {{ form_row(form.ciudad) }}
            <br>
            <p>Si no desea actualizar la contraseña por favor deje los campos vacíos</p>
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <br>
            <button class="btn btn-success" type="submit">Guardar</button>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}


{% endblock %}
