{% extends 'layouts/user.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">

    {% if invitados %}
    <h4>El ruby que te invito ya invito a
     {% for invitado in invitados %}
         {{invitado.nombre}}
         {% if loop.length > loop.index %}
            y
         {% endif %}
     {% endfor %}
     en esta posicion</h4>
    {% endif %}
    <div class="card mb-3">
      <ul class="list-group">
        {% for moneda in monedas %}
            <li class="list-group-item"><a class="btn btn-default" href="{{ path('moneda',{'id': moneda.id} )}}">mi moneda
            {% if moneda.rango == 0 %}
                <i class="fab fa-bitcoin"></i> oro a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 1 %}
                <i class="fab fa-bitcoin"></i> Ruby a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 2 %}
                <i class="fab fa-bitcoin"></i> Esmeralda a recibido {{ moneda.vecesRecibidas }} veces
            {% elseif moneda.rango == 3 %}
                <i class="fab fa-bitcoin"></i> Diamante a recibido {{ moneda.vecesRecibidas }} veces
            {% endif %}
            </a>
            </li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
