
{% extends 'layouts/user.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if invitados %}
    <h4>El ruby que te invito ya invito a
     {% for invitado in invitados %}
         {{invitado.nombres}}
         {% if loop.length > loop.index %}
            y
         {% endif %}
     {% endfor %}
     en esta posicion</h4>
    {% endif %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Posicion</th>
        <th scope="col">Moneda</th>
        <th scope="col">Veces recibidas</th>
        <th scope="col">Oros completos</th>
      </tr>
    </thead>
    <tbody>
    {% for moneda in monedas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
            <div class="card mb-3" style="
            background-color:
            {% if moneda.rango == 0 %}
            #D4B678
            {% elseif moneda.rango == 1 %}
            #F36F6F
            {% elseif moneda.rango == 2 %}
            #6EED91
            {% elseif moneda.rango == 3 %}
            #6CAFFB
            {% endif %}
            ">
                <a class="btn btn-default" href="{{ path('user_list_posicion',{'id': moneda.id} )}}">
                    <i class="fab fa-bitcoin"></i>{% if moneda.rango == 0 %}
                        oro
                    {% elseif moneda.rango == 1 %}
                        Ruby
                    {% elseif moneda.rango == 2 %}
                        Esmeralda
                    {% elseif moneda.rango == 3 %}
                        Diamante
                    {% endif %}
                </a>
          </div>
      </td>
      <td>{{moneda.vecesRecibidas}}</td>
      <td>0</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
