
{% extends 'layouts/user.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if invitados %}
    <h4>El ruby que te invito ya invito a
     {% for invitado in invitados %}
         {{invitado.nombres}}
         {% if loop.length > loop.index %}
            y
         {% endif %}
     {% endfor %}
     en esta posicion</h4>
    {% endif %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Posicion</th>
        <th scope="col">Moneda</th>
        <th scope="col">Veces recibidas</th>
        <th scope="col">Oros completos</th>
      </tr>
    </thead>
    <tbody>
    {% for moneda in monedas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
            <a class="btn btn-default" href="{{ path('moneda',{'id': moneda.id} )}}">
                {% if moneda.rango == 0 %}
                    {% if moneda.dono == true %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Dorado2.png') }}" class="img-fluid" width="30%">
                    {% else %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Dorado1.png') }}" class="img-fluid" width="30%">
                    {% endif %}
                    <br>
                        oro
                    {% elseif moneda.rango == 1 %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Ruby.png') }}" class="img-fluid" width="30%">
                     <br>
                        Ruby
                    {% elseif moneda.rango == 2 %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Esmeralda.png') }}" class="img-fluid" width="30%">
                     <br>
                        Esmeralda
                    {% elseif moneda.rango == 3 %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/Diamante.png') }}" class="img-fluid" width="30%">
                     <br>
                        Diamante
                    {% elseif moneda.rango == 4 %}
                     <img  href="{{ path('moneda',{'id': moneda.id} )}}" src="{{ asset('img/monedas/DiamanteDeApoyo.png') }}" class="img-fluid" width="30%">
                     <br>
                        Diamante de apoyo
                    {% endif %}
          </a>
      </td>
      <td>{{moneda.vecesRecibidas}}</td>
      <td>0</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
