{% extends 'layouts/user.html.twig' %}

{% block title %}Posiciones{% endblock %}

{% block body %}

<div class="container-fluid" id="contentBody">

<div style="height: 80%; width: 100%; position: absolute; left: 0; top: 10;" id="cy"></div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

window.onload = function() {
     monedas();
};

function monedas()
{
	var id = "{{ moneda.id }}";
	var uri  = "{{ path('find_posicion',{'id': 'id'}) }}";
	uri = uri.replace('id', id);
	fetch(uri,{method: 'GET'})
		.then(response => response.json())
		.then(myJson => {
			
			var i = 0;
			var oros = 0;
			var rubies = 0;
			var esmeraldas = 0;
			var diamantes = 0;
			myJson['monedas'].forEach(function(monedaG){
				
				i = i + 50;
				
				switch (monedaG.rango) {
				case 0:
					if(monedaG.dueño)
					{
						if(oros == 0) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 450, y: 700 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 450, y: 700 }
									},
								]);
							}
						}
						else if (oros == 1) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 550, y: 700 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 550, y: 700 }
									},
								]);
							}
						}
						else if (oros == 2) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 650, y: 700 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 650, y: 700 }
									},
								]);
							}
						}					
						else if (oros == 3) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 750, y: 700 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 750, y: 700 }
									},
								]);
							}
						}
						else if (oros == 4) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 750, y: 100 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 750, y: 100 }
									},
								]);
							}
						}
						else if (oros == 5) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 650, y: 100 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 650, y: 100 }
									},
								]);
							}
						}					
						else if (oros == 6) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 550, y: 100 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 550, y: 100 }
									},
								]);
							}
						}
						else if (oros == 7) {
							if(monedaG.dono)
							{
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado2.png') }}',
										},
										position: { x: 450, y: 100 }
									},					
								]);
							} else {
								cy.add([
									{ group: 'nodes', 
										data: {
											id: "n" + monedaG.id,
											name: monedaG.dueño.nombres,
											rango: '{{ asset('img/monedas/Dorado1.png') }}',
										},
										position: { x: 450, y: 100 }
									},
								]);
							}
						}
					}
					
					oros ++;
					break;
				case 1:
					if(rubies == 0) {
						cy.add([
							{ group: 'nodes', 
								data: {
									id: "n" + monedaG.id,
									name: monedaG.dueño.nombres,
									rango: '{{ asset('img/monedas/Ruby.png') }}',
								},
								position: { x: 500, y: 600 }
							},
						]);
					}
					else if (rubies == 1) {
						cy.add([
							{ group: 'nodes', 
								data: {
									id: "n" + monedaG.id,
									name: monedaG.dueño.nombres,
									rango: '{{ asset('img/monedas/Ruby.png') }}',
								},
								position: { x: 700, y: 600 }
							},
						]);
					}
					else if (rubies == 2) {
						cy.add([
							{ group: 'nodes', 
								data: {
									id: "n" + monedaG.id,
									name: monedaG.dueño.nombres,
									rango: '{{ asset('img/monedas/Ruby.png') }}',
								},
								position: { x: 700, y: 200 }
							},
						]);
					}
					
					else if (rubies == 3) {
						cy.add([
							{ group: 'nodes', 
								data: {
									id: "n" + monedaG.id,
									name: monedaG.dueño.nombres,
									rango: '{{ asset('img/monedas/Ruby.png') }}',
								},
								position: { x: 500, y: 200 }
							},
						]);
					}

					rubies++;
					
					break;
				case 2:
					if(esmeraldas == 0)
					{
						cy.add([
							{ group: 'nodes', 
								data: {
									id: "n" + monedaG.id,
									name: monedaG.dueño.nombres,
									rango: '{{ asset('img/monedas/Esmeralda.png') }}',
								},
								position: { x: 600 , y: 500}
							},
						]);
					} else {
						cy.add([
						{ group: 'nodes', 
							data: {
								id: "n" + monedaG.id,
								name: monedaG.dueño.nombres,
								rango: '{{ asset('img/monedas/Esmeralda.png') }}',
							},
							position: { x: 600 , y: 300}
						},
						]);
						break;
					}
					esmeraldas++;
					
				case 3:
					cy.add([
						{ group: 'nodes', 
							data: {
								id: "n" + monedaG.id,
								name: monedaG.dueño.nombres,
								rango: '{{ asset('img/monedas/Diamante.png') }}',
							},
							position: { x: 600 , y: 400 }
						},
					]);
					break;
				}
	
			});

			myJson['relaciones'].forEach(function(monedaG){
	
				cy.add([
						{ group: 'edges', data: { id: "n" + monedaG.monedaPropietario.id + " - " + "n" + monedaG.monedaInvitado.id , source: "n" + monedaG.monedaPropietario.id, target: "n" + monedaG.monedaInvitado.id  } }
					]);
			});
			
		})
		.catch(function(err) {
			console.log(err);
	});
}



var cy = cytoscape({
  container: document.getElementById('cy'),

  boxSelectionEnabled: false,
  autounselectify: true,

  style: cytoscape.stylesheet()
    .selector('node')
      .style({
        'background-image': 'data(rango)',
        'background-fit': 'contain',
        'content': 'data(name)',
        'weight': 0.1,
        'width': 50,
        'height': 50,
      })
    .selector('edge')
      .style({
        'curve-style': 'bezier',
        'target-arrow-shape': 'triangle',
        'width': 1,
        'line-color': '#ddd',
        'target-arrow-color': '#ddd'
      }),

  
  layout: {
    name: 'cose',
    padding: 100,
    idealEdgeLength: function( edge ){ return 50; },
    edgeElasticity: function( edge ){ return 100; },
    nodeRepulsion: function( node ){ return 2048; },
  }
});

</script>

{% endblock %}
